.register {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.register form {
  padding: 60px 90px;
  width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.register form h1 {
  margin: 0px;
  font-size: 30px;
  margin-bottom: 0px;
  text-align: center;
}

.register form p {
  text-align: center;
  color: rgb(86, 86, 86);
  margin-bottom: 40px;
}

.register form p span {
  color: #3a6dd4;
}

.register form h1 span {
  color: #3a6dd4;
}

.register form button {
  margin-top: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.inputs label {
  margin-bottom: 10px;
}

.inputs input {
  margin-bottom: 30px;
}

.inputs input:last-child {
  margin-bottom: 0px;
}
